.available-course {
  display: block;
  margin-bottom: 30px;
}

.available-course:last-child {
  margin-bottom: 0px;
}

.available-course__wrapper {
  height: 360px;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.08);
  box-shadow: 0px 10px 20px rgba(8, 15, 32, 0.08);
  border-radius: 10px;
  color: #161718;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.available-course__wrapper.light {
  color: #FFFFFF;
}

.available-course__main {
  padding: 25px 30px 40px;
  box-flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 400px;
}

.available-course__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  white-space: nowrap;
}

.available-course__desc {
  max-width: 400px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  opacity: 0.6;
}

.available-course__progress {
  margin-top: auto;
}

.available-course__side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0px 30px;
}

.available-course__image img {
  display: block;
  max-width: 100%;
}

@media (max-width: 850px) {
  .available-course__main {
    max-width: unset;
  }
  .available-course__wrapper {
    height: 400px;
    display: block;
  }
}

@media (max-width: 600px) {
  .available-course__wrapper {
    height: 500px;
    display: block;
  }
  .available-course__title {
    white-space: normal;
  }
}
