.-gap_0 {
  margin-bottom: 5px;
}

.-gap_1 {
  margin-bottom: 10px;
}

.-gap_2 {
  margin-bottom: 15px;
}

.-gap_3 {
  margin-bottom: 20px;
}

.-gap_4 {
  margin-bottom: 25px;
}

.-gap_5 {
  margin-bottom: 30px;
}

.-gap_6 {
  margin-bottom: 35px;
}

.-gap_7 {
  margin-bottom: 40px;
}

.-gap-inner-bottom_4 {
  padding-bottom: 25px;
}

.-gap-inner-bottom_5 {
  padding-bottom: 30px;
}

.-gap-inner-top_1 {
  padding-top: 10px;
}

.-gap-inner-top_4 {
  padding-top: 25px;
}

.-gap-inner-top_5 {
  padding-top: 30px;
}
