.progress-bar__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 100%;
  height: 40px;
  padding: 0px 14px;
  overflow: hidden;
  background: #f4f4f6;
  border-radius: 3px;
}

.progress-bar__progress {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  max-width: 100%;
  height: 100%;
}

.progress_green {
  background: #27ae60;
}

.progress_yellow {
  background: #ffa515;
  -webkit-box-shadow: 0px 5px 20px rgba(255, 165, 21, 0.4);
  box-shadow: 0px 5px 20px rgba(255, 165, 21, 0.4);
}

.progress_red {
  background: #ff284f;
  -webkit-box-shadow: 0px 5px 20px rgba(255, 40, 79, 0.4);
  box-shadow: 0px 5px 20px rgba(255, 40, 79, 0.4);
}

.progress-bar__text {
  z-index: 1;
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}
